.header{
  padding: 30px;
  position: relative;
  &::after{
    display: block;
    content: '';
    background: #2B7AF1;
    position: absolute;
    top: 0;
    right:0;
    width: 52%;
    height: 830px;
    z-index: -1;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 54px;
  }
  &__inner{
    display: flex;
    align-items: center;
    column-gap: 52px;
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
}