.header{
  padding: 30px;
  position: relative;
  &__left{
    display: flex;
    align-items: center;
    column-gap: 54px;
  }
  &__inner{
    display: flex;
    align-items: center;
    column-gap: 52px;
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 32px;
  }
}