.email{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: white;
}
.tel{
  display: flex;
  align-items: center;
  column-gap: 10px;
  color:white;
}

@media(max-width: 1082px){
  .header__email-text{
    display: none;
  }
  .tel__text{
    display: none;
  }
}
@media(max-width: 610px){
  .email{
    display: none;
  }
  .tel{
    display: none;
  }
}