.hero{
  position: relative;
  &::before{
    content: '';
    display: block;
    background: url('../../../images/bgHero.png') no-repeat;
    width: 45%;
    height: 495px;
    position: absolute;
    top: -30%;
    right: 0;
  }
  &__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    display: flex;
    align-items: center;
    color: #111111;
    width: 29%;
    margin-bottom: 20px;
  }
  &__subtitle{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #111111;
    margin-bottom: 60px;
    width: 20%;
  }
  &__inner{
    margin-top: 130px;
  }
  &::after{
    display: block;
    content: '';
    background: #2B7AF1;
    position: absolute;
    top: -90%;
    right:0;
    width: 52%;
    height: 830px;
    z-index: -1;
  }
}

@media(max-width:1385px){
  .hero::after{
    display: block;
    content: '';
    background: #2B7AF1;
    position: absolute;
    top: -90%;
    right:0;
    width: 65%;
    height: 830px;
    z-index: -1;
  }
}

@media(max-width:1083px){
  .hero{
    background: #2B7AF1;
    padding: 100px 0;
    &::before{
      display: none;
    }
    &::after{
      display: none;
    }
    &__inner{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    &__title{
      width: 50%;
      font-size: 30px;
      text-align: center;
      color: white;
    }
    &__subtitle{
      width: 100%;
      font-size: 20px;
      color:white;
    }
  }
}
